 @font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
 }

 @font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
 }

 *,
*::before,
*::after {
  box-sizing: border-box;
}

 html {
  height: 100%;
}

 body {
  height: 100%;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  color:#333333;
  background-color: #F2F2F2;

 }
 .page-container{
 box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
 width: 1200px;
 background-color: #FFFFFF;
 margin: 0 auto;
 min-height: 100%;
 display: flex;
 flex-direction: column;
}
.page-header{
  width: 1200px;
padding: 0 40px;
display:flex;
margin: 0;
flex-wrap: wrap
}

.page-header-logo{
width:140px;
margin-bottom:-6px;
margin-right:30px;
}

.navigation {
width: 1200px;
min-height: 64px;
display: flex;
margin:0 auto;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 460px;
 flex-wrap: wrap;
}

.navigation-user {
  width: 310px;
  justify-content: flex-end;
}

.navigation-link {
  padding: 20px 16px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color:#000000;
  background-color: inherit;
  text-decoration: none;
  display: block;
  margin:0 auto;
 }

.icon{
padding: 22px 12px;
}
.icon:last-child{
  margin-right: 20px;
}


 .navigation-list,
 .recommendations-list,
 .footer-social-list,
 .advantages-list{
  list-style-type:none;
 }

.button-open-popup-hotel{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color:#FFFFFF;
  text-transform: uppercase;
  background: #756157;
  border-radius: 4px;
  min-height:52px;
  border-style: none;
  margin:auto;
  min-width: 376px;
  padding:0;
}
.header-button{
  min-height:36px;
 min-width: 160px;
}
.main-index{
  background-image: url("../images/background/background-sedona.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}
.main-container{
  flex-grow: 1;
}
.main-inner:not:(:first-child){
padding:70px 35px 70px 104px;
}
.hero-container{
  margin: 0;
  padding: 0;
  min-height: 767px;
}
.welcome{
  text-align: center;
  margin-top: 51px;
}
.white-decoration{
  margin-top: 20px;
}

.container-slogan{
  margin: 69px auto;
  width: 620px;
}
.slogan{
margin:0;
}
.container-slogan p{
margin:0;
margin-top:25px;
}

.slogan,
.invitation,
.question{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color:#000000
}
.subcribe-label{
color:#FFFFFF;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
margin:0;
margin-bottom:20px}

.subcribe-main p{
margin:0;
margin-bottom: 54px;
margin-left: 105px;
margin-right: 105px;
}

.block-light-blue,
.block-medium-blue,
.recommendations-title
 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color:#000000;
}

.gray {
  font-weight: 400;
font-size: 18px;
line-height: 21px;
color:#333333;
}

.block-blue {
  color: #FFFFFF;
  background: #82B3D3;
  font-weight: 700;
}

.block-light-color{
background: rgba(131, 179, 211, 0.12);
}

.block-medium-color{
 background: rgba(131, 179, 211, 0.2);
}
.suggestion{
padding:64px 347.5px;
}

.invitation{
margin:0 auto;
}

.recommendations-list{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding:0;
}

.recommendations-item {
  width: 400px;
  padding: 81px 85px;
}
.
.recommendations-title {
  margin:0;
  width: 230px;
}
.recommendations-item p{
  margin: 0;
}

.advantages-item {
color: #000000;
padding: 102px 85px;
width: 400px;
height: 385px;
}
.advantages-item.block-blue{
  color:#FFFFFF;
}
.advantages-list{
display: flex;
width: 1200px;
flex-wrap: wrap;
padding: 0;
}
.advantages-list:first-child{
  justify-content: start;
}

.advantages-list:last-child{
  justify-content: end;
}
.advantages-title{
padding: 0 27.5px;
padding-bottom: 62px;
margin: 0;
text-transform: uppercase;
}
.advantages-item p {
  margin: 0;
}
.question{
  margin:0;
  margin-bottom:20px;
}
.hotel-search-sedona p {
  margin:0;
  margin-bottom:54px;
}

.hotel-search-sedona{
padding: 96px 304px;
min-height: 406px;
}
block.{
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  width: 175px;
  min-height: 56px;
}
.white{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.subcribe{
  background-repeat: no-repeat;
  background-size: 100% auto;
  color:#FFFFFF;
  background-color:#000000;
  background-image: url("../images/background/background-subcribe.jpg");
  text-align: center;
}
.subcribe-main,
.subcribe-inner{
padding: 96px 258px 104px;
min-height: 414.86px;
}

.subcribe-form{
border-radius: 4px 0px 0px 4px;
width: 684px;
}

.field,
.newsletter-button{

  border-style: none;
}

.field{
  background: #F2F2F2;
  font-size: 18px;
  line-height: 24px;
}

.newsletter-button{
  background: #82B3D3;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
}

.footer-contacts-address-phone{
  font-style: normal;
  text-decoration-line: none;
  text-transform: uppercase;
  color:#000000;
  font-size: 40px;
  line-height: 40px;
}

.inner-header{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color:#FFFFFF;
padding-bottom: 8px;
}

.inner-header-title{
font-weight: 700;
font-size: 60px;
line-height: 78px;
margin: 0;
}

.breadcrumbs-link{
font-size: 16px;
line-height: 21px;
margin-right:28px;
}
.breadcrumbs {
display:flex;
padding:0;
margin:0;
padding-bottom: 40px;
}

.breadcrumbs-item,
.catalog-filter-item,
.view-location-item,
.product-card,
.pagination-item,
.product-description-item
{
list-style-type:none;
}
.product-description-item p{
background-color: #F2F2F2;
color:#333333;
padding: 9px 22px 8px 23px;
margin:0;
min-width: 140px;
min-height: 37px;
}
.catalog-products{
  background-image: url(../images/background/background-filters.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-size: 18px;
  line-height: 23px;
  color:#FFFFFF;
  width:1060px;
  flex-direction: column;
  padding:35px 70px;
}

.catalog-filter-title{
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-transform: capitalize;
margin-bottom: 32px;
padding:0;
}

.catalog-filter-list{
font-size: 18px;
line-height: 23px;
padding:0;
margin:0;
}
.catalog-filter{
  display: flex;
 align-items: flex-start;
}
.catalog-filter-price{
display:flex;
flex-direction: column;
margin:0 70px;
padding:0;
min-width: 288px;
}
.catalog-filter-group {
  padding:0;
  margin:0;
  margin-right:70px;
}
.catalog-filter-item:not(:last-child){
  margin-bottom: 16px;
}
.control-input-range{
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color:#000000;
  width:143px;
}
.button-submit{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #82B3D3;
  border-radius: 4px;
  padding: 8px 50px;
  color:#FFFFFF;
  border-style: none;
  text-transform: uppercase;
  margin-bottom: 32px;

}

.button-reset{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: none;
  border-style: none;
  color:#FFFFFF;
  padding: 8px 50px;
margin-top:auto;
}
.container-button{
  display: flex;
  flex-direction: column;
  padding-top:56px;
}
.total-found{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
 }

.select-control{
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 20px;
  color: inherit;
  min-width: 292px;
 }

.product-card{
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
   margin-bottom: 20px;
   width: 340px;
 }

.product-card-link{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  border-style: none;
  text-decoration: none;
 }

.product-card-price,
.product{
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
 }
.product-card-price{
  text-align: right;
 }

.product-card-button-detailed{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color:#FFFFFF;
  background:#756157;
  border-radius: 4px;
  padding: 8px 50px;
  text-decoration: none;
  text-transform: uppercase;
  }

.product-card-button-favorite{
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background: #82B3D3;
  color:#FFFFFF;
  padding: 8px 50px;
  text-decoration: none;
  border-style: none;
  }

.pagination-link{
  display:flex;
  font-style: normal;
  text-decoration: none;
  color:#FFFFFF;
  background: #82B3D3;
  min-width: 60px;
  height: 60px;
  margin-right: 8px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  padding:0 12px;
  box-sizing: border-box;
}

.subcribe-inner{
  background: #FFFFFF;
  color:#000000;}

.subcribe-inner h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;}

.subcribe-slogan{
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color:#333333;
}

.button-open-popup-hotel,
.newsletter-button,
.field,
.button-submit,
.button-reset,
.select-control,
.product-card-button-favorite{
  font-family: inherit;
}

.page-footer{
padding:40px 70px 30px;
display: flex;
margin: 0;
min-height: 120px;
align-items: center;
}

.footer-social{
width: 190px;
margin-right: 41px;

.footer-social-list{
  display: flex;
  justify-content: space-evenly;
  padding:0;
}
}
.footer-social-link{
  display:block;
}

.footer-contacts-address{
 min-width:720px;
 display:flex;
 justify-content: space-around
}

.htmlacademy-link{
 max-width: 116px;
 margin-left:auto;
}
.catalog-products{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  width: 1200px;
margin-bottom:50px;
}
.control-container{
  display:flex;
  width: 1060px;
  margin: 0 70px 40px 70px;
  align-content: flex-start;
  justify-content: space-between;
  align-items: baseline;
}
.view-location-list{
display: flex;

}
.product-list{
width:1060px;
margin: 0 auto;
padding: 0;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-bottom:80px;
}

.catalog-products fieldset{
border: 0;
display:flex;
}
.pagination{
  display: flex;
  width: 1060px;
  margin: 0 70px 60px 70px;
  flex-wrap: wrap;
}

.pagination-item:last-child{
  margin-right: 0;
}
.block-white{
  color:#000000;
  background-color: #FFFFFF;
  }
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
